body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.options {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.option {
    width: calc(50% - 10px); /* Metade da largura da seção, menos o espaçamento entre opções */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Considera o padding e a borda na largura total */
}

.option h3 {
    margin-top: 0;
}

.option button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option button:hover {
    background-color: #555;
}
/*/////////////////////////*/


.salas-disponiveis {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.salas-disponiveis h2 {
    margin-top: 0;
}

.salas-disponiveis ul {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0;
}

.salas-disponiveis li {
    margin-bottom: 10px; /* Adiciona espaçamento entre os itens da lista */
}

.salas-disponiveis li span {
    font-weight: bold;
    margin-right: 10px;
}

.salas-disponiveis li button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.salas-disponiveis li button:hover {
    background-color: #555;
}


/*/////////////////////////*/

.criar-sala {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.criar-sala form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}